/**********************************
NAVIGATION BAR
**********************************/

#pageTitle{
    text-align: center;
    font-weight: bolder;
}
.top-bar {
    
}

h1 {
    font-size: 2em;
}


}
.megadiv {
    min-height: 100vh;
}

.text{
    text-align: justify;
    font-size: 2em;
    margin: 0 10%;
    color:#878d91;
    
}


#titulo {
    text-align: center;
    font-size: 6em;
    color: #8bbfd3;
}



.subText{
    text-align: center;
    font-size: 2.5em;
    margin-top: 2.5%;
}

.sectionText{
    text-align: center;
    font-size: 2.5em;
    margin-top: 10%;
    color:#7d8c9d;
    font-weight: 500;
}