/**********************************
NAVIGATION BAR
**********************************/

#pageTitle{
    text-align: center;
    font-weight: bolder;
}
.top-bar {
    
}

h1 {
    font-size: 2em;
}


}
.megadiv {
    min-height: 100vh;
}

.text{
    text-align: justify;
    font-size: 2em;
    margin: 0 10%;
    
}


#titulo {
    text-align: center;
    font-size: 4em;
    color: #8bbfd3;
}

.text{
    font-size: 2em;
    color:#878d91;
}

.subText{
    text-align: center;
    font-size: 2.5em;
    margin-top: 2.5%;
}